.headerCont{
    left: 0;
    right: 0;
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    background-color: #4682B4;
    display: flex;
    justify-content: end;
    padding: 10px 30px;
}

.headerLink{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.userCont{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgUserCont{
    position: relative;
    min-width: 35px;
    min-height: 35px;
    border-radius: 100%;
    z-index: 1;
    overflow: hidden;
    box-sizing: border-box;
}

.imgUser{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 35px;
    z-index: 2;
}